.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    box-shadow:
        inset 0 -1px 0 0 var(--gray-light-active),
        inset 0 1px 0 0 var(--gray-light-active);
    padding: 5rem 0;
}

.answer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
}

.answer-buttons {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
}

.question-wrapper {
    display: flex;
    width: 95rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.question-text {
    align-self: stretch;
    color: var(--Grey-Darker, #2A2A2A);

    /* Title/title_xlarge */
    font-family: SUIT;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    /* 133.333% */
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    align-self: stretch;
}

.option-wrapper {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;
}

.option-text {
    flex: 1 0 0;

    color: var(--Grey-Darker, #2A2A2A);

    /* Body/body_xlarge */
    font-family: SUIT;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    /* 133.333% */
}