.home-container {
    overflow-y: auto;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    padding: 7.5rem 12.47rem;
}

.home-footer {
    height: 7.5rem;
}