.news-list-container {
    display: flex;
    width: 30.375rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.125rem;
}

.news-list-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;

    padding-bottom: 1.13rem;

    box-shadow: inset 0 -1px 0 0 var(--gray-light-active);
}

.news-list-label {
    color: var(--Grey-Dark, #595959);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);
}

.news-list-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: var(--Grey-Darker, #2A2A2A);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.news-lists {
    display: flex;
    width: 30.375rem;
    padding: 0rem 0.75rem;
    padding-bottom: 1.25rem;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;

    box-shadow: inset 0 -1px 0 0 var(--gray-light-active);

    color: var(--Grey-Dark, #595959);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.news-list-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}