.proposal-list-container {
    display: flex;
    padding: 7.5rem 12.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    align-self: stretch;

    background: var(--orange-light-hover);
}

.proposal-list-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    color: var(--gray-normal-base);

    font-size: var(--headline-large-size);
    font-weight: var(--headline-large-weight);
    line-height: var(--headline-large-line);
}

.proposal-list-cards {
    display: flex;
    width: 19.25rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.proposal-list-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    border-radius: 1.5rem;
    box-shadow: 0 0 15px 0 rgba(255, 155, 67, 0.2);
}

.proposal-card-container {
    display: flex;
    width: 22.25rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    border-radius: 1.5rem;
    border: 1px solid;
    background: var(--white);

    cursor: pointer;
}

.proposal-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.proposal-card-state {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.proposal-card-date {
    flex: 1 0 0;

    color: var(--Gray-Normal, #555);
    text-align: right;

    font-size: var(--body-small-size);
    font-weight: var(--body-small-weight);
    line-height: var(--body-small-line);
}

.proposal-card-content {
    display: flex;
    padding-bottom: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;

    border-bottom: 1px solid #d5d5d5;
}

.proposal-card-title {
    align-self: stretch;

    color: var(--Gray-Normal, #555);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.proposal-card-text {
    height: 3.5rem;
    align-self: stretch;

    color: var(--Gray-Normal, #555);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.proposal-card-footer {
    display: flex;
    align-items: center;
    gap: 1.125rem;
    align-self: stretch;
}
