.login-title {
    font-size: var(--Title-title-xlarg-size);
    color: var(--Gray-Normal, #555);
    text-align: center;
}

.login-container {
    display: flex;
    width: 120rem;
    height: 67.5rem;
    flex-direction: column;
    align-items: center;
}

.login-box {
    display: flex;
    width: 46.5rem;
    padding-top: 3rem;
    padding-bottom: rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 13.75rem;
    border-radius: 1.5rem;
    border: 1px solid var(--gray-light-active, #cacaca);
}

.login-buttons {
    display: flex;
    width: 40.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.login-options {
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 */
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

.remember-id {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* 체크박스 - 텍스트 간격 */
}

.find-account {
    cursor: pointer;
    white-space: nowrap; /* 줄바꿈 방지 */
}

.login-card {
    display: flex;
    width: 46.5rem;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
