.label-btn {
    display: inline-flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid;
    background: #FFF;

    font-size: var(--label-large-size);
    font-weight: var(--label-large-weight);
    line-height: var(--label-large-line);

    cursor: pointer;
}

.text-btn-s,
.text-btn-l {
    display: flex;
    align-items: center;

    border-radius: 12px;
    border: 1px solid var(--orange-normal-base);
    background: var(--white);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);

    cursor: pointer;
}

.text-btn-s {
    width: 227px;
    height: 60px;
    padding: 8px 12px;
    gap: 4px;

    cursor: pointer;
}

.text-btn-l {
    width: 648px;
    padding: 16px 24px;
    justify-content: center;
    gap: 8px;

    cursor: pointer;
}

.auth-btn {
    display: inline-flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;

    border: none;
    border-radius: 50px;
    background: var(--white);

    color: #595959;

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    line-height: var(--title-medium-line);

    cursor: pointer;
}

.profile-btn {
    display: flex;
    width: 135px;
    padding: 4px 16px 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 12px;
    background: var(--white);

    color: var(--gray-normal-base);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.mypage-btn {
    display: flex;
    width: 276px;
    height: 52px;
    padding: 4px 8px;
    justify-content: space-between;
    align-items: center;

    border: none;

    border-radius: 12px;
    background: var(--white);
    color: var(--gray-normal-base);

    flex: 1 0 0;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.mypage-text {
    display: flex;
    align-items: center;
    gap: 8px;
}