.label-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--gray-normal-base) inset;
    background: var(--white);

    font-size: var(--label-large-size);
    font-weight: var(--label-large-weight);
    line-height: var(--label-large-line);
}

.text-btn-s,
.text-btn-l {
    display: flex;
    align-items: center;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--orange-normal-base) inset;
    background: var(--white);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);

    cursor: pointer;
}

.text-btn-s {
    width: 14.1875rem;
    height: 3.75rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    gap: 0.5rem;

    cursor: pointer;
}

.text-btn-l {
    width: 40.5rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    gap: 0.5rem;

    cursor: pointer;
}

.auth-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border: none;
    border-radius: 3.125rem;
    background: var(--white);

    color: #595959;

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    line-height: var(--title-medium-line);

    cursor: pointer;
}

.profile-btn {
    display: flex;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;

    border-radius: 0.75rem 0.75rem 0 0;
    background: var(--white);

    color: var(--gray-normal-base);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.mypage-btn {
    display: flex;
    width: 17.25rem;
    height: 3.25rem;
    padding: 0.25rem 0.5rem;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.75rem;
    background: var(--white);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.mypage-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-btn {
    background-color: transparent;

    color: var(--gray-normal-base);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);

    cursor: pointer;
}

.shortcut-btn-left,
.shortcut-btn-right {
    display: flex;
    width: 15.125rem;
    height: 24.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.10);

    text-align: center;

    font-size: var(--headline-xsmall-size);
    font-weight: var(--headline-xsmall-weight);
    line-height: var(--headline-xsmall-line);

    cursor: pointer;
}

.shortcut-btn-left {
    border-radius: 1.5rem 0 0 1.5rem;
    background: var(--orange-light-active);

    color: var(--orange-dark-base);

}

.shortcut-btn-right {
    border-radius: 0 1.5rem 1.5rem 0;
    background: var(--yellow-light-active);

    color: var(--yellow-dark-base);
}

.shortcut-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
}

.shortcut-button {
    display: flex;
    width: 9.625rem;
    padding: 0.25rem 1.25rem;
    align-items: center;

    border-radius: 3.75rem;
    background: var(--orange-dark-base);

    color: var(--white);
    text-align: center;

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    line-height: var(--title-medium-line);
}

.mileage-btn {
    display: inline-flex;
    padding: 1rem 1.5rem;
    align-items: center;
    gap: 6.75rem;

    color: var(--gray-normal-base);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.75rem;
    border: 1px solid var(--gray-light-active);
}