.label-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--gray-normal-base) inset;
    background: var(--white);

    font-size: var(--label-large-size);
    font-weight: var(--label-large-weight);
    line-height: var(--label-large-line);
}

.text-btn-s,
.text-btn-l {
    display: flex;
    align-items: center;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--orange-normal-base) inset;
    background: var(--white);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);

    cursor: pointer;
}

.text-btn-s {
    width: 14.1875rem;
    height: 3.75rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    gap: 0.5rem;

    cursor: pointer;
}

.text-btn-l {
    width: 40.5rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    gap: 0.5rem;

    cursor: pointer;
}

.auth-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border: none;
    border-radius: 3.125rem;
    background: var(--white);

    color: #595959;

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    line-height: var(--title-medium-line);

    cursor: pointer;
}

.profile-btn {
    display: flex;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;

    border-radius: 0.75rem 0.75rem 0 0;
    background: var(--white);

    color: var(--gray-normal-base);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.mypage-btn {
    display: flex;
    width: 17.25rem;
    height: 3.25rem;
    padding: 0.25rem 0.5rem;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.75rem;
    background: var(--white);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.mypage-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-btn {
    background-color: transparent;

    color: var(--gray-normal-base);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);

    cursor: pointer;
}