@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('../fonts/SUIT-Variable.ttf') format("truetype");
    font-weight: 900;
    font-display: swap;
}