.header-container {
    display: flex;
    margin: 0 auto;
    display: flex;
    width: 120rem;
    height: 6.25rem;
    padding: 1.625rem 12.5rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--white);
    position: fixed;
    width: 100%;

    z-index: 999;
}

.header-menu {
    display: flex;
    width: 32.5rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}