.text-input-box {
    display: flex;
    width: 316px;
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;

    border-radius: 12px;
    border: 1px solid var(--gray-light-active);
    background: var(--white);
}

.text-input {
    width: 100%;
    color: var(--gray-normal-base);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);
}

.text-input::placeholder {
    color: var(--gray-light-active);
}

.check-box {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;

    border-radius: 2px;
    border: 1px solid var(--gray-light-base);
    background: var(--white);

    cursor: pointer;
}

.check-box:checked {
    background-color: var(--orange-normal-base);
    border-color: var(--orange-normal-base);

    background-image: url("../image/icon/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 7px;
}

.radio-box {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 44px;
    height: 44px;
    aspect-ratio: 1/1;

    border-radius: 60px;
    border: 1px solid var(--gray-light-active);
    background: var(--white);

    cursor: pointer;
}

.radio-box:checked {
    background-color: var(--orange-normal-base);
    border-color: var(--orange-normal-base);

    background-image: url("../image/icon/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 13px;
}

.dropdown-box {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: flex;
    width: 227px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 12px;
    border: 1px solid var(--gray-light-active);
    background: var(--white);

    position: relative;

    flex: 1 0 0;

    color: var(--Grey-Dark, #595959);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.dropdown-label {
    width: 125px;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.dropdown-option {
    position: absolute;
    top: 44px;
    width: 227px;
    padding: 0 0px 12px 24px;

    border-radius: 0 0 12px 12px;
    border: 1px solid var(--gray-light-active);
    border-top: none;
    background: var(--white);
    z-index: 10;
}

.dropdown-text {
    width: 100%;

    padding-top: 10px;
    cursor: pointer;
    border-radius: 4px;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
    cursor: pointer;
}

.search-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: flex;
    width: 203px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    border: none;
    border-right: 1px solid var(--gray-light-active);
    position: relative;


    color: var(--Grey-Dark, #595959);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.search-dropdown-label {
    width: 125px;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.search-dropdown-option {
    position: absolute;
    top: 60px;
    left: -24px;

    display: flex;
    width: 227px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 12px;
    border: 1px solid var(--gray-light-active);
    background: var(--white);
    z-index: 10;
}

.search-dropdown-text {
    width: 100%;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
    cursor: pointer;
}

.search-container {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 12px;
    border: 1px solid var(--gray-light-active);
    background: var(--white);
}

.search-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.search-input {
    flex: 1 0 0;

    color: var(--gray-normal-base);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.search-input::placeholder {
    flex: 1 0 0;

    color: var(--gray-light-active);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}