.text-input-box {
    height: 3.75rem;
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--gray-light-active) inset;
    background: var(--white);
}

.text-input {
    width: 100%;
    color: var(--gray-normal-base);

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    line-height: var(--title-medium-line);
}

.text-input::placeholder {
    color: var(--gray-light-active);
}

.check-box {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    aspect-ratio: 1/1;

    border-radius: 0.125rem;
    box-shadow: 0 0 0 1px var(--gray-light-base) inset;
    background: var(--white);

    cursor: pointer;
}

.check-box:checked {
    background-color: var(--orange-normal-base);
    box-shadow: 0 0 0 1px var(--orange-normal-base) inset;

    background-image: url("../image/icon/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 7px;
}

.radio-box {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 2.75rem;
    height: 2.75rem;
    aspect-ratio: 1/1;

    border-radius: 3.75rem;
    box-shadow: 0 0 0 1px var(--gray-light-active) inset;
    background: var(--white);

    cursor: pointer;
}

.radio-box:checked {
    background-color: var(--orange-normal-base);
    box-shadow: 0 0 0 1px var(--orange-normal-base) inset;

    background-image: url("../image/icon/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 13px;
}

.dropdown-box {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: flex;
    width: 14.1875rem;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    flex: 1 0 0;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--gray-light-active) inset;
    background: var(--white);

    position: relative;

    color: var(--Grey-Dark, #595959);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.dropdown-label {
    width: 7.8125rem;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.dropdown-option {
    position: absolute;
    display: flex;
    width: 14.1875rem;
    top: 2.75rem;
    padding: 1rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 0 0 0.75rem 0.75rem;
    box-shadow:
        inset 0 -1px 0 0 var(--gray-light-active),
        inset 1px 0 0 0 var(--gray-light-active),
        inset -1px 0 0 0 var(--gray-light-active);
    background: var(--white);

    z-index: 10;
}

.dropdown-text {
    width: 100%;

    padding: 0.5rem 0 0 0;
    cursor: pointer;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.search-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: flex;
    width: 14.1875rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    border: none;
    box-shadow: inset -1px 0 0 0 var(--gray-light-active);
    position: relative;


    color: var(--Grey-Dark, #595959);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);

    cursor: pointer;
}

.search-dropdown-label {
    width: 9.1875rem;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.search-dropdown-option {
    position: absolute;
    top: 60px;
    left: -24px;

    display: flex;
    width: 15.6875rem;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--gray-light-active) inset;
    background: var(--white);
    z-index: 10;
}

.search-dropdown-text {
    width: 100%;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
    cursor: pointer;
}

.search-container {
    display: flex;
    width: 78.8125rem;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--gray-light-active) inset;
    background: var(--white);
}

.search-content {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
}

.search-input {
    flex: 1 0 0;

    color: var(--gray-normal-base);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.search-input::placeholder {
    flex: 1 0 0;

    color: var(--gray-light-active);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.toggle-input {
    display: flex;
    width: 2.75rem;
    height: 1.5rem;
    padding: 0.125rem;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 0.625rem;
    border-radius: 3.75rem;
    background: var(--gray-light-hover, #E6E6E6);

    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.toggle-circle {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    background-color: var(--white);
    position: absolute;
    border-radius: 100%;
    left: 0.12rem;
    transition: all 0.5s ease-in-out;
}