.level-label {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;

    color: var(--orange-normal-base);
    background: none;

    font-size: var(--label-medium-size);
    font-weight: var(--label-medium-weight);
    line-height: var(--label-medium-line);
}

.notice-label {
    display: flex;
    width: 16.4375rem;
    height: 5rem;
    padding: 1rem 1.5rem;
    align-items: center;
    gap: 1.3125rem;

    border-radius: 2.5rem;
    box-shadow: 0 0 0 1px var(--orange-normal-base) inset;
    background: #FFF;
}

.notice-text {
    align-self: stretch;
    color: var(--Grey-Dark, #595959);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.notice-sub {
    align-self: stretch;

    color: var(--Grey-Dark, #595959);

    font-size: var(--label-medium-size);
    font-weight: var(--label-medium-weight);
    line-height: var(--label-medium-line);
}