.profile {
    display: flex;
    width: 276px;
    align-items: center;
    gap: 12px;
}

.profile-img {
    width: 62px;
    height: 62px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.profile-text {
    gap: 2px;
}

.profile-name {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: normal;
}

.profile-email {
    color: var(--Grey-Normal, #777);

    font-size: var(--label-medium-size);
    font-weight: var(--label-medium-weight);
    line-height: var(--label-medium-line);
}