.profile {
    display: flex;
    width: 17.25rem;
    align-items: center;
    gap: 0.75rem;
}

.profile-img {
    width: 3.875rem;
    height: 3.875rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.125rem;
    flex: 1 0 0;
}

.profile-name {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    align-self: stretch;

    align-self: stretch;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: normal;
}

.profile-email {
    color: var(--Grey-Normal, #777);

    font-size: var(--label-medium-size);
    font-weight: var(--label-medium-weight);
    line-height: var(--label-medium-line);
}

.profile-card-container {
    display: flex;
    width: 30.4375rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;

    border-radius: 1.5rem;
    box-shadow:
        0 0 0 1px var(--gray-light-hover) inset,
        2px 2px 8px 0 rgba(0, 0, 0, 0.06);
    background: var(--white);
}

.profile-card-none {
    display: flex;
    width: 30.4375rem;
    height: 24.375rem;
    padding: 2.5rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    border-radius: 1.5rem;
    box-shadow:
        0 0 0 1px var(--gray-light-hover) inset,
        2px 2px 8px 0 rgba(0, 0, 0, 0.06);
    background: var(--Grey-White, #FFF);
}

.profile-card-desc {
    align-self: stretch;

    color: var(--Grey-Dark, #595959);
    text-align: center;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.profile-card-none-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.profile-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 1.75rem;

    margin-bottom: 1rem;
}

.profile-card-menu {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.profile-card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.625rem;
    align-self: stretch;

    margin-top: 1rem;
}

.profile-card-detail {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    border-radius: 1.5rem;
    background: var(--orange-light-hover);
}

.mileage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    color: var(--Grey-Dark, #595959);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);
}

.mileage-text {
    color: var(--orange-normal-base);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);
}

.mileage-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.survey-list-container {
    display: flex;
    padding: 1rem 1rem 1rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px var(--gray-light-active) inset;
    background: var(--white);
}

.survey-list-text {
    display: flex;
}

.survey-list-num {
    display: flex;
    width: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    color: var(--orange-normal-base);
    text-align: center;

    font-size: var(--title-small-size);
    font-weight: var(--title-small-weight);
    line-height: var(--title-small-line);
}

.survey-list-title {
    flex: 1 0 0;

    color: var(--Gray-Dark, #404040);

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    line-height: var(--title-medium-line);
}