.profile {
    display: flex;
    width: 276px;
    align-items: center;
    gap: 12px;
}

.profile-img {
    width: 62px;
    height: 62px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.profile-text {
    gap: 2px;
}

.profile-name {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: normal;
}

.profile-email {
    color: var(--Grey-Normal, #777);

    font-size: var(--label-medium-size);
    font-weight: var(--label-medium-weight);
    line-height: var(--label-medium-line);
}

.profile-card-container {
    display: flex;
    width: 487px;
    padding: 24px;
    flex-direction: column;
    align-items: center;

    border-radius: 24px;
    border: 1px solid var(--gray-light-hover, );
    background: var(--white);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.06);
}

.profile-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 16px;
}

.profile-card-menu {
    width: 439px;
    display: flex;
}

.profile-card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    align-self: stretch;
    margin-top: 16px;
}

.profile-card-detail {
    display: flex;
    width: 437px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    border-radius: 24px;
    background: var(--orange-light-hover);
}

.mileage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    color: var(--Grey-Dark, #595959);

    /* Title/title_xlarge */
    font-family: SUIT;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

.mileage-text {
    color: var(--Orange-Normal, #FF9B43);

    /* Title/title_xlarge */
    font-family: SUIT;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

.mileage-menu {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.survey-list-container {
    display: flex;
    padding: 16px 16px 16px 8px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    align-self: stretch;

    border-radius: 12px;
    border: 1px solid var(--gray-light-active, #CACACA);
    background: var(--Gray-White, #FFF);
}

.survey-list-text {
    display: flex;
    gap: 16px;
}

.survey-list-num {
    display: flex;
    width: 40px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    color: var(--Orange-Normal, #FF9B43);
    text-align: center;

    font-size: var(--title-small-size);
    font-weight: var(--title-small-weight);
    line-height: var(--title-small-line);
}

.survey-list-title {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    color: var(--Gray-Dark, #404040);

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    line-height: var(--title-medium-line);
}