.nav-text {
    align-self: stretch;
    color: var(--Grey-Normal, #777);
    text-align: right;

    font-size: var(--body-small-size);
    font-weight: var(--body-small-weight);
    line-height: var(--body-small-line);

    cursor: pointer;
}

.bg {
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
}

.icon {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}