.my-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    align-self: stretch;
}

.my-list-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;

    color: var(--gray-darker-base);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);
}

.my-list-sort-btn {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    color: var(--gray-normal-base);
    text-align: right;

    font-size: var(--label-small-size);
    font-weight: var(--label-small-weight);
    line-height: var(--label-small-line);

    cursor: pointer;
}

.my-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
