.login-container {
    display: flex;
    width: 120rem;
    height: 67.5rem;
    flex-direction: column;
    align-items: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 13.75rem;
    gap: 3.69rem;
    align-items: center;
}

.login-box {
    display: flex;
    width: 46.5rem;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--gray-light-active, #cacaca);
}

.login-title {
    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);
    color: var(--gray-dark, #333333);
}

.login-buttons {
    display: flex;
    width: 40.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

.remember-id {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.find-account {
    cursor: pointer;
    white-space: nowrap; /* 줄바꿈 방지 */
}

.login-card {
    display: flex;
    width: 46.5rem;
    padding: 3rem;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
