.Signup-container {
    overflow-y: auto;
}

.Signup-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 13.75rem;
    gap: 3.69rem;
    align-items: center;
    margin-bottom: 11.06rem;
}

.Signup-box {
    display: flex;
    width: 46.5rem;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--gray-light-active, #cacaca);
}

.Signup-title {
    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);
    color: var(--gray-dark, #333333);
}

.Signup-buttons {
    display: flex;
    width: 40.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.Signup-profile {
    display: flex;
    width: 40.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 3rem;
}

.ageree-terms {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Signup-address-row {
    display: flex;
    width: 40.5rem;
    gap: 1rem;
}

.signup-option-text {
    font-size: var(--body-small-size);
    color: var(--gray-normal, #555);
    /* margin-top: 1rem; */
}

.signup-warning {
    color: var(--red);

    font-size: var(--body-small-size);
    font-weight: var(--body-small-size);
    line-height: var(--body-small-size);
}
