.proposal-container {
    overflow-y: auto;
}

.proposal-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 5.09rem;
}

.notice-line {
    width: 3rem;
    border-top: 2px dashed var(--gray-light-active, #cacaca);
}

.proposal-notice-wrapper {
    display: flex;
    justify-content: space-between; /* 텍스트 왼쪽 / 버튼 오른쪽 */
    align-items: center;
    margin: 0 12.5rem 11.06rem;
}

.proposal-notice-texts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.proposal-notice-texts p {
    margin: 0;
}
