.proposal-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proposal-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    gap: 5rem;
    width: 95rem;
    align-items: center;
}

.proposal-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.notice-line {
    width: 3rem;
    border-top: 2px dashed var(--gray-light-active, #cacaca);
}

.proposal-notice-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.proposal-notice-texts {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.proposal-notice-texts p {
    margin: 0;
}

.proposal-searchbar {
    display: flex;
    justify-content: center;
}

.proposal-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.comments-titles {
    display: flex;
    width: 95rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.comments-title {
    align-self: stretch;
    color: var(--Grey-Darker, #2A2A2A);

    font-size: var(--headline-large-size);
    font-weight: var(--headline-large-weight);
    line-height: var(--headline-large-line);
}

.comments-description {
    align-self: stretch;
    color: var(--Grey-Normal, #777);

    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-weight);
    line-height: var(--body-medium-line);
}

.comments-input {
    height: 12.5rem;
    padding: 1.5rem;

    align-self: stretch;

    border-radius: 1.25rem;
    border: 1px solid var(--grey-light-active, #D5D5D5);
    background: var(--white);
    color: var(--Grey-Dark, #595959);

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    line-height: var(--title-medium-line);
}

.comments-list {
    display: flex;
    width: 95rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.comment-wraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;

    box-shadow: inset 0 -1px 0 0 var(--gray-light-active);
    padding: 2.5rem 0;

    color: var(--Gray-Dark, #404040);

    font-size: var(--title-xlarge-size);
    font-weight: var(--title-xlarge-weight);
    line-height: var(--title-xlarge-line);
}

.comment-date {
    flex: 1 0 0;
    color: var(--Gray-Normal, #555);

    font-size: var(--title-small-size);
    font-weight: var(--title-small-weight);
    line-height: var(--title-small-line);
}

.comment-name {
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;
    align-self: stretch;
}

.comment-content {
    align-self: stretch;
    color: var(--Gray-Dark, #404040);

    font-size: var(--body-xlarge-size);
    font-weight: var(--body-xlarge-weight);
    line-height: var(--body-xlarge-line);
}