.proposal-container {
    overflow-y: auto;
}

.proposal-wrapper {
    display: flex;
    flex-direction: column;
    padding: 12.5rem;
    gap: 5rem;
}

.proposal-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.notice-line {
    width: 3rem;
    border-top: 2px dashed var(--gray-light-active, #cacaca);
}

.proposal-notice-wrapper {
    display: flex;
    justify-content: space-between; /* 텍스트 왼쪽 / 버튼 오른쪽 */
    align-items: center;
}

.proposal-notice-texts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: var(--Font-body-medium);
}

.proposal-notice-texts p {
    margin: 0;
}

.proposal-searchbar {
    display: flex;
    justify-content: center;
}

.proposal-list {
}
