.writeproposal-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.writeproposal-wrapper {
    width: 95rem;
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    gap: 5rem;
}

.writeproposal-contant {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    align-items: center;
}

.writeproposal-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 0.7rem;
}

.content-input-box {
    border: 1px solid #d9d9d9;
    border-radius: 0.625rem;
    padding: 1rem;
}

.title-input {
    border: 1px solid #d9d9d9;
    border-radius: 0.625rem;
    padding: 1rem;
    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
}

.title-input::placeholder {
    align-self: stretch;

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    color: var(--Gray-Normal, #cacaca);
}

.content-input {
    border: 1px solid #d9d9d9;
    border-radius: 0.625rem;
    resize: none;

    display: flex;
    height: 37.5rem;
    padding: 1.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);

    vertical-align: top;
}

.content-input::placeholder {
    align-self: stretch;

    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
    color: var(--Gray-Normal, #cacaca);

    vertical-align: top;
}
