.chat-label {
    display: flex;
    padding: 2rem 4.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    color: #FF9B43;

    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
}